/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset Precedes, Style Code Follows */

body {
  background-color: maroon;
}

.content {
  height: auto;
  width: 820px;
  padding: 50px;
  margin: 50px auto;
  border-left: 20px solid gray;
  border-right: 20px solid gray;
  background-color: white;
}

.division {
  height: 3px;
  width: 100%;
  background-color: black;
  margin: 10px 0;
}

.header {
  display: inline;
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: space-between;
}

.main_head {
  font-family: Times New Roman, Arial, sans-serif;
  font-size: 50px;
  color: black;
  font-weight: bolder;
  display: flex;
}

.contact_head {
  font-family: Times New Roman, Arial, sans-serif;
  font-size: 20px;
  color: black;
  display: inline-block;
  text-align: right;
}

.section_head {
  font-family: Times New Roman, Arial, sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.section_head_foot {
  font-family: Times New Roman, Arial, sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: left;
}

.font {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.cent_cont {
  text-align: center;
}

.ed_skill_arrange {
  display: flex;
  flex: auto;
}

.ed-sk {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.gen_spac {
  padding-bottom: 10px;
  padding-top: 10px;
}

.foot {
  background-color: silver;
  padding: 30px;
  height: auto;
  margin-top: 30px;
}

.main_span_cont {
  display: flex;
  flex: auto;
  height: auto;
  margin-top: 10px;
}

.span_cont {
  width: 100%;
  height: auto;
  text-align: left;
}

.span_space {
  display: block;
}

.no-link {
  text-decoration: none;
  color: black;
}
